* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  border: 1px solid rd;
}
html {
  scroll-behavior: smooth;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
header {
  display: flex;
  justify-content: space-between;
  margin: -3px 20px;
  animation: appear ease 1.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-bottom: 25px;
  background-color: white;
  padding: 5px;
}
header .content {
  display: flex;
  gap: 35px;
  padding: 3px;
}
header .logo {
  font-size: 1.5rem;
  padding: 3px;
}
.content a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-weight: 600;
  padding: 10px;
  text-align: center;
}
.content a:hover {
  color: #407de5;
}
@keyframes scrol {
  0% {
    box-shadow: 2px 1px 5px rgb(11, 11, 187);
  }
  25% {
    box-shadow: 3px 2px 6px #407de5;
  }
  50% {
    box-shadow: 2px 1px 5px blue;
  }
  75% {
    box-shadow: 3px 2px 6px rgb(41, 41, 214);
  }
  100% {
    box-shadow: 2px 1px 5px #407de5;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.home h1 {
  text-align: center;
  margin-top: 130px;
  font-size: 3rem;
  animation: moveup ease 1.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.home input {
  width: 350px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 10px -4px black;
  animation: scrol 6s linear infinite;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(15px);
  }
}
@keyframes moveup {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(-35px);
  }
}
@media (max-width: 768px) {
  nav.content {
    display: none;
  }
  .home img {
    width: 50vw;
  }
  .home h1 {
    margin-top: 80px;
  }
  .home input {
    width: 300px;
  }
  .menu {
    display: inline-block;
  }
  .aside {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
  }
  .aside div {
    width: 90vw;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .hero1 {
    display: flex;
    gap: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
  }
  .imgs img {
    height: 360px;
    width: 200px;
    border-radius: 10px;
  }
}

@media (800px <= width <= 2000px) {
  .menu {
    display: none;
  }
}
.home img {
  width: 350px;
  height: 300px;
  margin-top: 35px;
  animation: movedown ease 1.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes movedown {
  0% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
@keyframes down {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-10px);
    opacity: 1;
  }
}
.hero .imgs img,
.hero p,
.aside div,
footer {
  opacity: 0;
  transition: all 0.5s ease;
}

.hero .imgs img,
.hero p,
.aside div {
  opacity: 1;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100vw;
  padding: 20px 70px;
  background-color: #236ad2;
  color: white;
  background-image: url(images/question-mark-6784296_1920.jpg);
}
.hero1,
.hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 20px;
  background: transparent;
  font-size: 3rem;
}
.hero1 p a,
.hero2 p a {
  text-decoration: none;
  background-color: white;
  height: 10px;
  width: 30px;
  padding: 8px;
  border-radius: 20px;
  color: black;
  transition: 0.5s;
  animation: scrol 6s linear infinite;
}
.hero1 p a:hover{
  background-color: #236ad2;
  color: white;
}
.hero2 p a:hover {
  background-color: #236ad2;
  color: white;
}
.hero .imgs img {
  height: 350px;
  width: 350px;
  border-radius: 10px;
  }
.hero p {
  font-size: 1.5rem;
  width: 90vw;
  text-align: start;
  padding: 15px;
}
.aside {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: snow;
  border-radius: 0px;
}
.aside div p {
  text-align: center;
  
}
.aside div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-shadow: 1px 1px 5px -2px black;
  border-radius: 5%;
  border: none;
  background-color: white;
}
.aside div img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
footer {
  background-color: #171616;
  color: white;
  padding: 20px;
  margin: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  gap: 50px;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1;
  min-width: 300px;
  margin-bottom: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ffff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #236ad2;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    min-width: 100%;
    text-align: center;
  }
}
